# Node.js
node_modules/
.env
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Editor folders/files
.vscode/
.idea/
*.swp

# Dependency directories
.pnpm/
.package-lock.json

# Testing
coverage/

# Optional: Ignore next.js or React specific files
.next/
out/
